<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="serviceData\serviceData.js"></script>
  <!-- <script src="C:\Users\thier\Desktop\git\itau\serviceDashboard\serviceData\serviceData.js"></script> -->
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

  <div id="app" class="container mx-auto my-10 ">
    <p class="text-xl font-bold">Service Dashboard</p>
    <p>RT Consignado</p>

      <div v-for="(ms, index) in msServiceData" @click="selectedMs = index"
        class=" cursor-pointer  my-4 flex justify-between p-4 bg-white shadow-xs rounded-lg shadow-xl bg-white"
        :class="{ 'max-w-lg': selectedMs != index, 'max-w-full': selectedMs == index }"
        >
        <div class="mx-6 flex-1">
          <h4 class="text-xl text-gray-900 leading-tight">{{ms.funcionalidade}}</h4>
          <p class="text-base text-gray-600 leading-normal mb-4">{{ms.macro_funcionalidade}}</p>
          <p class="text-sm text-gray-500 leading-normal">{{ms.descritivo}}</p>
        </div>
        <div class="mx-6 flex-1">
          <p class="text-white bg-gray-300 text-gray-600 rounded p-1 px-3 my-3 text-right">Produção</p>
          <p class="text-white bg-gray-300 text-gray-600 rounded p-1 px-3 my-3 text-right">Homologação</p>
          <p class="text-white bg-green-200 text-green-600 rounded p-1 px-3 my-3 text-right">Desenvolvimento</p>
        </div>
        <div v-if="selectedMs == index" class="mx-6 flex-1">
          <p>Escuta os Tópicos:</p>
          <p>Produz nos Tópicos:</p>
        </div>
        <div v-if="selectedMs == index" class="mx-6 flex-1">
          <p>Observação</p>
          <p>thierri.oliveira@itau-unibanco.com.br</p>
        </div>

    </div>
  </div>

  <script>

    var app = new Vue({
      el: '#app',
      data: {
        msServiceData: serviceData,
        selectedMs: null
      }
    })

  </script>
</body>

</html>