<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="serviceData\serviceData.js"></script>
  <!-- <script src="C:\Users\thier\Desktop\git\itau\serviceDashboard\serviceData\serviceData.js"></script> -->
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

  <div id="app" class="container mx-auto my-8 ">
    <p class="text-xl font-bold">Service Dashboard</p>
    <p>RT Consignado</p>

    <div v-for="(ms, index) in msServiceData" @click="selectedMs = index"
      class=" cursor-pointer  my-10 flex justify-between p-4 bg-white shadow-xs rounded-lg shadow-xl bg-white"
      :class="{ 'max-w-2xl': selectedMs != index, 'max-w-full': selectedMs == index }">
      <div class="mx-6 flex-1">
        <h4 class="text-xl text-gray-900 leading-tight">{{ms.funcionalidade}}</h4>
        <p class="text-base text-gray-600 leading-normal mb-4">{{ms.macro_funcionalidade}}</p>
        <p class="text-sm text-gray-500 leading-normal">{{ms.descritivo}}</p>
      </div>
      <div class="mx-6 flex-1">
        <p class="text-white rounded p-1 px-3 my-3 text-right" :class="{ 'bg-gray-300 text-gray-600 ':  ms.sit_producao == '0-Cinza', 'bg-green-200 text-green-600': ms.sit_producao == ' 2-Verde', 'bg-yellow-200 text-yellow-600': ms.sit_producao == ' 1-Amarelo' }">Produção</p>
        <p class="text-white rounded p-1 px-3 my-3 text-right" :class="{ 'bg-gray-300 text-gray-600 ':  ms.sit_homol == '0-Cinza', 'bg-green-200 text-green-600': ms.sit_homol == ' 2-Verde', 'bg-yellow-200 text-yellow-600': ms.sit_homol == ' 1-Amarelo' }">Homologação</p>
        <p class="text-white  rounded p-1 px-3 my-3 text-right" :class="{ 'bg-gray-300 text-gray-600 ':  ms.sit_dev == '0-Cinza', 'bg-green-200 text-green-600': ms.sit_dev == ' 2-Verde', 'bg-yellow-200 text-yellow-600': ms.sit_dev == ' 1-Amarelo' }">Desenvolvimento</p>
      </div>
      <div v-if="selectedMs == index" class="mx-6 flex-1 py-4">
        <div class="mb-6">
          <p class="uppercase text-xs font-semibold text-gray-500 ">Listener Topics</p>
          <p>{{ms.listen_topics}}</p>
        </div>
        <div>
          <p class="uppercase text-xs font-semibold text-gray-500 ">Produce Topics</p>
          <p>{{ms.produce_topics}}</p>
        </div>
      </div>
      <div v-if="selectedMs == index" class="mx-6 flex-1">
        
        <p class="text-xs my-4 text-gray-600">{{ms.obs}}</P>
        <p  class="text-xs my-4 text-gray-600">{{ms.contato}}</p>
        <p  class="text-xs my-4 text-gray-600">{{ms.repo_url}}</p>

      </div>

    </div>
  </div>

  <script>

    var app = new Vue({
      el: '#app',
      data: {
        msServiceData: serviceData,
        selectedMs: null
      }
    })

  </script>
</body>

</html>